<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>图书管理室</title>
</head>
<body>
{#    < 提交模块>#}
    <form method="post">
        {{ form.csrf_token }}
        <div class="form-group">
            <label> 作者</label>
            <input name="author">
        </div>
        <div class="form-group">
            <label> 书籍</label>
            <input name="book">
        </div>
        <br>
        <button name="submit"> 添加书籍</button>
    </form>
{% for message in get_flashed_messages() %}
{{ message }}
{% endfor %}
<hr>


<ul>
{# 先遍历作者再遍历书籍#}
 {% for au in author %}
    <li>{{ au.name }} <a href={{ url_for("book.delete_author",author_id = author.id) }}>删除作者</a> </li>
     <ul>
      {% for book in au.books %}
        <li>{{ book.book_name }} <a href={{ url_for("book.delete_book",book_id = book.id) }}>删除</a></li>
        {% else %}
          <li>无</li>
      {% endfor %}

     </ul>
 {% endfor %}
</ul>


</body>
</html>